.globalContainerContent{
    width: 100vw;
}
.fondoGeneral{
    width: 100vw;
}
.titleUserCreate{
    height: 46px;
    font-size: 21px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin: 17px 0 10px;
}
.chexboxContainer{
    position: relative;
    left: 4px;
    width: 85px;   
}
.form-check-input{
    cursor: pointer;
}
.form-check-label{
    cursor: pointer;
}
.form-check-input:checked{
    border: 1px solid #5E81AC;
    background-color: #5E81AC;
}
.form-check-input[type=checkbox]{
    border-radius: 2px;
}
.btn-formContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.btn-saveForm{
    background-color: #5E81AC;
}
.btn-backForm{
    color: #ffffff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.btn-formContainer button{
    width: 100px;
    margin: 0 auto 16px;  
}
.btn-formContainer2{
    display: flex;
}
.btn-formContainer2 button{
    width: 100px;
    margin: 0 auto 16px;  
    color: #ffffff;
    background-color: #6c757d;
    border-color: #6c757d;
}
@media only screen and (min-width: 768px){
    .inputContainerAll{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .inputContainer{
        width: 30%;
        padding: 0px 7px;
    }
    .btns-container{
        display: flex;
        justify-content: center;
    }
    .btn-formContainer{
        margin-right: 20px;
    }
}
@media only screen and (min-width: 1000px){
    .chexboxContainer{
        left: 32px;
    }
}
@media only screen and (min-width: 1200px){
    .btn-formContainer{
        width: 15%;
    }
    .btn-formContainer button{
        width: 100%;
        margin: 0 auto 16px;  
    }
    .btn-formContainer2{
        width: 15%;
    }
    .btn-formContainer2 button{
        width: 100%;
    }
}
@media only screen and (min-width: 1350px){
    .chexboxContainer{
        left: 40px;
    }
}
@media only screen and (min-width: 1600px){
    .chexboxContainer{
        left: 48px;
    }
}