.header{
    width: 100vw;
    height: 75px;
    background-color: #eceff4;
    
    box-shadow: 0 3px 5px 0 rgb(33 35 39 / 15%);
    z-index: 300;
}
.headerContent{
    display: none;
    cursor: pointer;
}
.headerMobile{
    display: initial;
    background-color: #000fff;
    box-shadow: 0 3px 5px 0 rgb(33 35 39 / 15%);
    
}
.headerContentMobile{
    display: flex;
    justify-content: space-between;
}
.logoTitleContainerHeader{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}
.logoTitleContainerHeader img{
    width: 45px;
    height: 45px;
    margin-left: 16px;
    margin-top: 12px;
}
.logoTitleContainerHeader p{
    font-size: 22.5px;
    color: #4c566a;
    margin-left: 10px;
    position: relative;
    top: 16px;
}
/* Span oculto mobile */
.spanMobile{
    transition: 250ms;
    position: absolute;
    top: 70px;
    width: 100%;
    background-color: #eceff4;
    box-shadow: 0 3px 5px 0 rgb(33 35 39 / 15%);
}
.spanMobileHide{
    visibility: hidden;
}
.espacioVacioHeader{
    height: 75px;
    border-bottom: 1px solid rgba(145, 153, 169, 0.3);
}
.spanMobileContainer{
    display: flex;
    flex-direction: row;
    height: 75px;
    padding: 14px 16px 0;
    cursor: pointer;
}
.spanMobileContainer img{
    width: 48px;
    height: 48px
}
.spanMobileContainer h1{
    font-size: 16px;
    font-weight: 500;
    color: #4c566a;
    position: relative;
    top: 6px;
    left: 12px;
}
.spanMobileContainer span{
    font-size: 13px;
    font-weight: 500;
    color: #9199a9;
    position: relative;
    top: 26px;
    right: 82px;
}
.graphicSpanHeaderContainer{
    width: 96%;
    margin: auto;
    position: relative;
}
.graphicSpanHeaderContainer::before{
    position: absolute;
    bottom: 143px;
    width: 100%;
    height: 6px;
    top: -2px;
    border-radius: 4px;
    background-color: #5e81ac;
    content: " ";
}
.userInformationSpanMobile{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.userInformationSpanMobile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.userInformationSpanMobile h1{
    color: #eceff4;
    margin: 0;
    font-size: 16px;
    font-weight: normal;
}
.userInformationSpanMobile span{
    color: #c3ccdd;
    font-size: 13px;
    margin-bottom: 10px;
}
.bannerGraphicHeader{
    background-image: url("../../images/bg-profilemenu.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}
.bannerGraphicHeader p{
    font-size: 11px;
    color: #c3ccdd;
    position: relative;
    top: 12px;
}

@media only screen and (min-width: 992px){
    .headerMobile{
        display: none;
    }
    .header{
        width: 100%;
    }
    .headerSinSidebar{

    }
    .headerContent{
        display: flex;
        justify-content: end;
        align-items: center;
        padding-right: 40px;
    }
    .headerContent img{
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }
    .headerTextContainer{
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .headerTextContainer p{
        font-size: 16px;
        font-weight: 500;
        color: #4c566a;
        padding-left: 12px;
        position: relative;
        top: 5px;
    }
    .headerTextContainer span{
        font-size: 13px;
        font-weight: 500;
        color: #9199a9;
        padding-right: 10px;
        position: relative;
        bottom: 10px;
    }
    .containerAllSpanHeaderHide{
        position: absolute;  
        right: 38px;
        top: 75px;
        box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
        z-index: 50;
    }
    .containerAllSpanHeaderHide::before{
        position: absolute;
        right: 0px;
        bottom: 143px;
        width: 50px;
        height: 6px;
        background-color: #5e81ac;
        content: " ";
    }
    .userInformationBackground{
        display: flex;
        justify-content: space-between;
        width: 250px;
        height: 100px;
        padding: 12px 18px 0 12px;
        background-image: url("../../images/bg-profilemenu.jpg");
    }
    .userInformation{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .userInformation img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    .nameHeaderHide{
        color: #eceff4;
        margin: 0;
        font-size: 16px;
        font-weight: normal;
    }
    .puestOHeaderHide{
        color: #c3ccdd;
        font-size: 13px;
        margin-bottom: 10px;
    }
    .containerLogOut{
        width: 250px;
        padding: 10px;
        background-color: #fff;
    }
    .linkLogOut button{
        font-size: 14px;
        border: none;
        color: #434c5e;
        border-radius: 4px;
        background-color: #d8dee9;
        cursor: pointer;
    }
    
}
.headerBtnContainerMobile{
    padding-top: 24px;
}
.firstLinkHeader{
    color: #434c5e;
    width: 40px;
    height: 40px;
    padding: 8px;
    margin: 0 12px;
}
.middleLinkHeader{
    color: #434c5e;
    width: 40px;
    height: 40px;
    padding: 8px;
    margin: 0 0 0 8px;
}
.lastLinkHeader{
    color: #434c5e;
    width: 60px;
    padding: 8px 14px;
    margin: 0 20px 0 12px;
}
.headerBtnContainerMobile i{
    font-size: 20px;
    cursor: pointer;
    transition: 250ms;
}
.firstLinkHeader a:hover{
    color: #ffffff;
}
.middleLinkHeader a:hover{
    color: #ffffff;
}
.lastLinkHeader a:hover{
    color: #ffffff;
}
.headerBtnContainerMobile i:hover{
    color: #5e81ac;
    transition: 250ms;
}
.activeHeader{
    background-color: #000;
    color: #fff;
    border-radius: 50%;
}
.activeHeader:hover{
    background-color: #5e81ac;
    color: rgb(255, 255, 255);
    transition: 100ms;
}
.activeHeader i:hover{
    color: #fff;
    transition: 250ms;
}
.activeLasLink{
    padding: 8px 14px;
}
.activeLasLink i:hover{
    color: #fff;
    transition: 250ms;
}
