.sidebarContainer{
    background-color: #fff;
    width: 250px;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
    position: absolute;
    top: 75px;
    left: -260px;
    transition: 250ms;
}
.activeShow{
    left: 0;
}
.backgroundBlackSideBar{
    width: 100%;
    height: 100%;
    opacity:0.8;
    background-color: #2e3440;
    position: absolute;
    transition: 250ms;
}
.iconTitleSideBar{
    display: none;
}
.linkHeaderSidebar{
    text-decoration: none;
    color: #2e3440;
    vertical-align: middle;
    font-size: 22.5px;
    margin-left: 4px;
}
.linkHeaderSidebar img{
    height: 45px;
    width: 45px;
}
.linkHeaderSidebar span{
    position: relative;
    top: 2px;
    left: 4px;
}
.linkHeaderSidebar:hover{
    color: #2e3440;
}
.iconTitleSideBar button{
    position: relative;
    background-color: #2e3440;
    color: #fff;
    border-radius: 50%;
    border: none;
    height: 30px;
    width: 30px;
}
.fa-lock{
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 9px;
}
.fa-lock-open{
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 9px;
}
.linksContainer{
    padding: 0px 10px;
}
.linkSidebar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2e3440;
    text-decoration: none;
    font-size: 14px;
    padding: 0px 10px;
    margin: 8px 0;
    height: 39px;
    transition: 300ms;
}
.linkSidebar:hover{
    background-color: rgb(180, 180, 180);
    color: #2e3440;
    border-radius: 6px;
    transition: 300ms;
}
.lockLink{
    position: absolute;
    font-size: 1rem;
    top: 16px;
    right: 12px;
}
.linkSidebar i{
    font-size: 16px;
    color: #4c566a;
}
.fa-chevron-down{
    padding-right: 10px;
}
.fa-globe-americas{
    position: absolute;
    font-size: 1rem;
    top: 16px;
    right: 12px;
}
.contentContainerLink{
    border: none;
    position: relative;
    text-decoration: none;
}
.contentInsideLink{
    background-color: #e4e4e4;
    border: none;
    padding: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.accordion-button{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.accordion-item:first-of-type .accordion-button{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.linkBar{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #2e3440;
    font-size: 14px;
}
.linkBar:hover{
    color: #2e3440;
}
.individualLinkContainer{
    position: relative;
    padding: 1rem 1.25rem;
    transition: 500ms;
}
.individualLinkContainer:hover{
    background-color: rgb(245, 245, 245);
    transition: 500ms;
}
.fa-users{
    font-size: 18px;
    position: absolute;
    right: 8px;
    top: 18px;
}
.fa-chevron-down{
    position: absolute;
    right: 0;    
}
.fa-bookmark{
    position: absolute;
    right: 12px;
}
.fa-list-ul{
    position: absolute;
    right: 12px;
}
.fa-folder{
    position: absolute;
    right: 12px;
}
.titleLink{
    position: relative;
}
.accordion-button:hover{
    background-color: rgb(180, 180, 180);
    border-radius: 6px;
    transition: 300ms;
}
.accordion-button::after{
    margin-right: 20px;
    background-image: url("../../images/flechaAbajo.png");
}
.accordion-button:not(.collapsed){
    background-color: #5e81ac;
    color: #fff;
}
.accordion-button:not(.collapsed)::after{
    background-image: url("../../images/arrowUp.png");
}
.accordion-button{
    padding-left: 10px;
}
.accordion-button:focus{
    box-shadow: none;
}
@media only screen and (min-width: 992px){
    .backgroundBlackSideBar{
        width: 10%;
        height: 10%;
        opacity:0;
        background-color: #2e3440;
        position: absolute;
        transition: 250ms;
    }
    .sideBarHideDesktopMoveLogo{
        position: relative;
        left: 60%;
    }
    .sideBarHideDesktopMoveLogo span{
        display: none;
    }
    .sideBarHideDesktopHideButton{
        visibility: hidden;
    }
    .sideBarHideDesktop{
        position: absolute;
        right: 93%; 
        transition: 10ms;
    }
    /* Oculta las flechas al estar acotado el sidebar */
    .sideBarHideDesktopIcons button::after{
        visibility: hidden;
    }
    .titleLink button .accordion-button::after{
        background-image: none;
        background-color: #fff000;
    }
    .sidebarContainer{
        min-width: 22vw;
        position: relative;
        top: 0;
        left: 0;
    }
    .iconTitleSideBar{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 16px 0px 24px;
    }
    .showALittleSidebar{
        position: absolute;
        left: -7vw;
    }
    .showALittleSidebarLogo{
        position: relative;
        z-index: 55;
    }
    .showALittleSidebarLogo .sideBarHideDesktopMoveLogo img{
        position: absolute;
        top: 0px;
        left: -150%;
    }
    .showALittleSidebarLogo .sideBarHideDesktopMoveLogo span{
        display: initial;
        position: relative;
        top: 6px;
        left: -110px;
    }
    .showALittleSidebarLogo .sideBarHideDesktopHideButton{
        visibility: initial;
        position: relative;
        top: 6px;
        left: 10px;
    }
    .hideArrowSidebar button::after{
        visibility: initial;
    }
}
@media only screen and (min-width: 1200px){
    .sidebarContainer{
        min-width: 20vw;
    }
    .sideBarHideDesktopMoveLogo{
        position: relative;
        left: 60%;
    }
    .sideBarHideDesktop{
        position: absolute;
        right: 93.5%; 
        transition: 550ms;
    }
    .showALittleSidebarLogo .sideBarHideDesktopMoveLogo img{
        left: -13vw;
    }
    .showALittleSidebarLogo .sideBarHideDesktopMoveLogo span{
        left: -9vw;
    }
}
@media only screen and (min-width: 1400px){
    .sideBarHideDesktopMoveLogo{
        position: relative;
        left: 63%;
    }
    .sideBarHideDesktop{
        position: absolute;
        right: 95%; 
        transition: 550ms;
    }
    .showALittleSidebar{
        position: absolute;
        left: -5vw;
    }
    .showALittleSidebarLogo .sideBarHideDesktopMoveLogo img{
        left: -14.5vw;
    }
    .showALittleSidebarLogo .sideBarHideDesktopMoveLogo span{
        left: -11vw;
    }
}
@media only screen and (min-width: 1600px){
    .sideBarHideDesktopMoveLogo{
        position: relative;
        left: 60%;
    }
    .sideBarHideDesktop{
        position: absolute;
        right: 94.5%; 
        transition: 550ms;
    }
    .sidebarContainer{
        min-width: 13%;
    }
    .showALittleSidebar{
        position: absolute;
        left: -5.5vw;
    }
    .showALittleSidebarLogo .sideBarHideDesktopMoveLogo img{
        left: -147.5%;
    }
    .showALittleSidebarLogo .sideBarHideDesktopMoveLogo span{
        left: -100%;
    }
}