.infoListadoUsuarioContainer h2{
    height: 46px;
    font-size: 21px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin: 17px 0;
}
.subtitleContainer{
    display: flex;
    justify-content: space-between;
    border: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 10px 15px;
    background-color: #f5f5f5;
}
.subtitleContainer p{
    color: #292B2C;
    line-height: 1.5em;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
}
.btn-search{
    color: #ffffff;
    background-color: #5E81AC;
    border: 1px solid transparent;
    font-size: 14px;
    border-radius: 4px;
    transition: background-color 0.15s, box-shadow 0.15s;
    padding: 6px 12px;
}
.filtradoBusquedaContainer{
    background-color: #fff;
    margin-bottom: 20px;
}
.filtradoBusquedaContainer .accordion-button{
    color: #292B2C;
    line-height: 1.5em;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    padding-left: 16px;
    padding-right: 0;
}
.filtradoBusquedaContainer .accordion-button::after{
    background-image: url("../../images/iconoMas.png");
}
.filtradoBusquedaContainer .accordion-button:not(.collapsed)::after{
    background-image: url("../../images/iconoMenos.png");
    transform: none;
}
.filtradoBusquedaContainer{

}
.filtradoBusquedaContainer{

}
.filtradoBusquedaContainer .accordion-item{
    border: none;
}
.filtradoBusquedaContainer .accordion-button{
    background-color: #f5f5f5;
}
.filtradoBusquedaContainer .accordion-body{
    padding: 0;
}
.textRegistrosEncontrados{
    height: 40px;
    padding: 10px 15px;
    font-size: 14px;
    border-top: 1px solid #dddddd;
}
.formularioContainer{
    padding:15px;
}
.btn-new{
    color: #ffffff;
    background-color: #5E81AC;
    border: 1px solid transparent;
    font-size: 14px;
    border-radius: 4px;
    transition: background-color 0.15s, box-shadow 0.15s;
    padding: 6px 12px;
    margin: 7px;
}
.linkBtn-new{
    text-decoration: none;
    color: #ffffff;
}
.linkBtn-new:hover{
    color: #ffffff;
}
.tableContainer{
    padding: 28px;
    padding-top: 0px;
}
.tableContent{
    padding: 18px 18px 32px 18px;
    background-color: #fff;
}
.tableContent table{
    margin: 0px;
}
.paginationContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    background: #f5f5f5;
    border: 1px solid #dddddd;
    border-top: none;
}
.page-item.active .page-link{
    background-color: #5E81AC;
    color: #ffffff;
    border-color: #5E81AC;
    font-weight: 700;
}
.page-link{
    color: #5E81AC;
    min-width: 34px;
    min-height: 34px;
    background-color: #eeeeee;
}
.paginationItem{
    background-color: #5E81AC;
    color: #ffffff;
    border-color: #5E81AC;
}
.paginationFlechasIzquierda{
    color: #5E81AC;
    min-width: 34px;
    min-height: 34px;
    border: 1px solid #dddddd;
}
.paginationFlechasDerecha{
    color: #5E81AC;
    min-width: 34px;
    min-height: 34px;
    border: 1px solid #dddddd;
}
@media only screen and (min-width: 768px){
    .formularioContainer{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    .inputUsuario{
        width: 30%;
        padding: 0px 7px;
    }
    .btn-search{
        margin-left: 7px;
    }
}