.loginContainerAll{
    background-color: rgba(216, 222, 233, 0.3);
    height: 100vh;
    position: relative;
}
.btn-darkModeLogin{
    cursor: pointer;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 40px;
    right: 40px;
}
.btn-datosFormRegister{
    color: #fff;
    background-color: #5381AC;
    font-size: 14px;
    border: none;
    padding: 8px 24px;
    border-radius: 4px;
    margin-bottom: 250px;
}
.iconLoginContainer{
    padding-top: 216px;
    display: flex;
    justify-content: center;
}
.titleLogin{
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 1px;
    margin: 20px 0;
    text-align: center;
}
.parrafoLogin{
    text-align: center;
}
.formLogin{
    width: 80%;
    margin: auto;
}
.inputRegister{
    font-size: 14px;
    color: #4c566a;
    position: relative;
}
.imagenFondo{
    width: 100%;
    height: 30vh;
    background-image: url("../../images/fondoLogin.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    position: absolute;
    bottom: 0;
}
.fa-user{
    color: #9199a9;
    position: absolute;
    top: 42px;
    right: 16px;
}
.logoPasswordLogin{
    color: #9199a9;
    position: absolute;
    top: 42px;
    right: 16px;
}

@media only screen and (min-width: 740px){
    .loginContainerAll{
        background-color: #eceff4;
    }
    .loginContainerImagebg{
        width: 100vw;
        height: 100vh;
    }
    .loginContainer{
        background-color: rgba(216, 222, 233, 0.3);
        max-width: 40%;
        height: 100%;
        margin: auto;
        position: static;
        z-index: -5;
    }
    .imagenFondo{
        width: 100%;
        height: 20%;
        background-image: url("../../images/fondoLogin.svg");
        background-repeat: no-repeat;
        background-position: 0 20%;
        background-size: 100%;
        position: absolute;
        bottom: 0;
    }
    .formLogin{
        width: 75%;
    }
    .titleLogin{
        font-size: 42px;
    }
    .titleLogin span{
        display: block;
    }
    .loginContent{
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }
    .loginContent img{
        width: 80px;
    }
}
@media only screen and (min-width: 1000px){
    .titleLogin span{
        display: inline;
    }
    .btn-datosFormRegister{
        margin-bottom: 250px;
    }
    .imagenFondo{
        width: 100%;
        height: 25%;
        background-image: url("../../images/fondoLogin.svg");
        background-repeat: no-repeat;
        background-position: 0 25%;
        background-size: 100%;
        position: absolute;
        bottom: 0;
    }
}
@media only screen and (min-width: 1600px){
    .imagenFondo{
        width: 100%;
        height: 30%;
        background-image: url("../../images/fondoLogin.svg");
        background-repeat: no-repeat;
        background-position: 0 10%;
        background-size: 100%;
        position: absolute;
        bottom: 0;
    }
}
@media only screen and (min-width: 1700px){
    .btn-datosFormRegister{
        margin-bottom: 320px;
    }
}