body{
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden
}
.globalContainerContent{
  width: 100vw;
  display: flex;
  overflow-x: hidden
}
.fondoGeneral{
  height: 100vh;
  background-color: #eceff4;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.divEspacioHome{
  background-color: #d8dee9;
  height: 20px;
}
.divEspacioHome p{
  visibility: hidden;
}
.infoPrincipal{
  padding: 28px;
}
.infoPrincipalSeguridadYMotor{
  padding: 28px;
  padding-bottom: 0px;
}
.infoPrincipalContainer{
  border-radius: 4px;
  background: #ffffff;
  padding: 18px;
}
.infoPrincipalContainer h1{
  font-size: 18px;
  font-weight: 400;
}
.infoPrincipalContainer p{
  font-size: 14px;
  margin-top: 16px;
}
.infoPrincipalContainer button{
  color: #ffffff;
  background-color: #5E81AC;
  border: 1px solid transparent;
  font-size: 14px;
  border-radius: 4px;
  transition: background-color 0.15s, box-shadow 0.15s;
  padding: 6px 12px;
}
.infoPrincipalContainer button:hover{
  transition: background-color 0.15s, box-shadow 0.15s;
}